<section fxLayout="row wrap" fxLayoutAlign="center center" class="container">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Create Asset Entry</mat-card-title>
    <div>{{message}}</div>
    <br>
    <form [formGroup]="assetForm" class="asset-form" autocomplete="off" novalidate
          (ngSubmit)="createAssetEntry(assetForm.value)"
          fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Model" formControlName="model" id="model">
                <mat-error *ngIf="hasError('model', 'required')">model is required</mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Asset Tag" formControlName="assetTag" id="assetTag">
                <mat-error *ngIf="hasError('assetTag', 'required')">assetTag is required</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="RAM" formControlName="ram" id="ram">
                <mat-error *ngIf="hasError('ram', 'required')">ram is required</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Serial Number" formControlName="serialNumber"
                       id="serialNumber">
                <mat-error *ngIf="hasError('serialNumber', 'required')">serialNumber is required</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date of Purchase" formControlName="dateOfPurchase"
                       id="dateOfPurchase"
                       readonly (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Is Under Warranty</mat-label>
                <mat-select formControlName="isUnderWarranty" [(value)]="isUnderWarranty"
                            id="isUnderWarranty">
                  <mat-option value="true">Yes</mat-option>
                  <mat-option value="false">No</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('isUnderWarranty', 'required')">Please select given asset is under warrenty
                  or not.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Is Damaged</mat-label>
                <mat-select formControlName="isDamaged" [(value)]="isDamaged"
                            id="isDamaged">
                  <mat-option value="true">Yes</mat-option>
                  <mat-option value="false">No</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('isDamaged', 'required')">Please select given asset is damaged or not.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Is Repaired</mat-label>
                <mat-select formControlName="isRepaired" [(value)]="isRepaired"
                            id="isRepaired">
                  <mat-option value="true">Yes</mat-option>
                  <mat-option value="false">No</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('isDamaged', 'required')">Please select given asset is repaired or not.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!assetForm.valid">Create</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
