<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <mdb-navbar-brand><a class="navbar-brand" href="">Asset Management</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <!-- Asset Dropdown -->
      <li *ngIf="isLogedIn" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Asset's <i class="fa fa-laptop" aria-hidden="true"></i><span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="/asset/history"><i class="fa fa-list"
                                                                                       aria-hidden="true"></i>
            History</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/asset/create"><i class="fa fa-plus"
                                                                                      aria-hidden="true"></i> Add Asset
          </a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/asset/assign"><i class="fa fa-check-square-o"
                                                                                      aria-hidden="true"></i> Assign to
            Employee </a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/asset/summary"><i class="fa fa-pie-chart"
                                                                                       aria-hidden="true"></i> Asset
            Summary</a>
        </div>
      </li>

      <li *ngIf="isLogedIn" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Employee's <i class="fa fa-laptop" aria-hidden="true"></i><span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="/employee/list"><i class="fa fa-list"
                                                                                       aria-hidden="true"></i>
            Employee Details</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/employee/add"><i class="fa fa-plus"
                                                                                      aria-hidden="true"></i> Add Employee
          </a>
        </div>
      </li>

      <!-- Asset Reports -->
      <!--<li *ngIf="isLogedIn" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Reports <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="exportToExcel()"><i
            class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel </a>
        </div>
      </li>-->

      <!-- Dropdown User Logout-->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          User
          <fa name="user"></fa>
          <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">

          <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="!isLogedIn; else logOut" href="login">Login</a>
          <ng-template #logOut>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#"><i class="fa fa-file-text-o"
                                                                            aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()"><i class="fa fa-sign-out"
                                                                                      aria-hidden="true"></i> Logout</a>
          </ng-template>
        </div>
      </li>

    </ul>
  </links>
</mdb-navbar>
