<h1 mat-dialog-title> UPdate</h1>
<div mat-dialog-content>
  <div>{{message}}</div>
  <br>
  <form [formGroup]="assetForm" class="asset-form" autocomplete="off" novalidate
        (ngSubmit)="createAssetEntry(assetForm.value)"
        fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card-content>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Employee Id" [(ngModel)]="data.employee.empId" formControlName="empId" id="empId">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="First Name" [(ngModel)]="data.employee.firstName" formControlName="firstName" id="firstName">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Last Name" [(ngModel)]="data.employee.lastName" formControlName="lastName" id="lastName">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Location" [(ngModel)]="data.employee.location" formControlName="location" id="location">
            </mat-form-field>

          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Cost Center" [(ngModel)]="data.employee.costCenter" formControlName="costCenter" id="costCenter">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Product Line" [(ngModel)]="data.employee.productLine" formControlName="productLine" id="productLine">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Job Role" [(ngModel)]="data.employee.jobRole" formControlName="jobRole" id="jobRole">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Technology" [(ngModel)]="data.employee.technology" formControlName="technology" id="technology">
            </mat-form-field>

          </td>
          <td>
            <!-- Asset Details -->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Model" [(ngModel)]="data.model" formControlName="model" id="model">
              <mat-error *ngIf="hasError('model', 'required')">model is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Asset Details -->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="RAM" [(ngModel)]="data.ram" formControlName="ram" id="ram">
              <mat-error *ngIf="hasError('ram', 'required')">ram is required</mat-error>
            </mat-form-field>
          </td>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Serial Number" [(ngModel)]="data.serialNumber" formControlName="serialNumber"
                     id="serialNumber">
              <mat-error *ngIf="hasError('serialNumber', 'required')">serialNumber is required</mat-error>
            </mat-form-field>

          </td>
          <td>

            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Asset Tag" [(ngModel)]="data.assetTag" formControlName="assetTag" id="assetTag">
              <mat-error *ngIf="hasError('assetTag', 'required')">assetTag is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select [(value)]="data.status" [(ngModel)]="data.status" (selectionChange)="setVisibilityForDate($event)"
                          formControlName="status"
                          id="status">
                <mat-option value="Allocated">Allocated</mat-option>
                <mat-option value="Inventory">Inventory</mat-option>
                <mat-option value="Inventory - not working">Inventory - not working</mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('status', 'required')">status is required</mat-error>
            </mat-form-field>
          </td>

          <td *ngIf="isAllocationDateVisible; else dateOfReturn" [(ngModel)]="data.dateAllocated"> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" [(ngModel)]="data.dateAllocated" placeholder="Date Allocated" formControlName="dateAllocated"
                     id="dateAllocated"
                     readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <ng-template #dateOfReturn>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date of Return" [(ngModel)]="data.dateOfReturn" formControlName="dateOfReturn"
                       id="dateOfReturn"
                       readonly (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-template>
          </td>


          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Hostname" [(ngModel)]="data.hostname" formControlName="hostname" id="hostname">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <!-- Asset Details -->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Remark" [(ngModel)]="data.remark" formControlName="remark" id="remark">
            </mat-form-field>
          </td>
        </tr>
      </table>

    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!assetForm.valid" [mat-dialog-close]="data.model" cdkFocusInitial>Summit</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </mat-card-actions>
  </form>
</div>
