<h1 mat-dialog-title> UPdate</h1>
<div mat-dialog-content>
  <div>{{message}}</div>
  <br>
  <form [formGroup]="assetForm" class="asset-form" autocomplete="off" novalidate
        (ngSubmit)="createAssetEntry(assetForm.value)"
        fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card-content>


      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <!-- Asset Details -->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Model" [(ngModel)]="data.model" formControlName="model" id="model">
              <mat-error *ngIf="hasError('model', 'required')">model is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td> <!-- Asset Details -->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="RAM" [(ngModel)]="data.ram" formControlName="ram" id="ram">
              <mat-error *ngIf="hasError('ram', 'required')">ram is required</mat-error>
            </mat-form-field>
          </td>
          <td> <!-- Employee Details-->
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Serial Number" [(ngModel)]="data.serialNumber" formControlName="serialNumber"
                     id="serialNumber">
              <mat-error *ngIf="hasError('serialNumber', 'required')">serialNumber is required</mat-error>
            </mat-form-field>

          </td>
          <td>

            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Asset Tag" [(ngModel)]="data.assetTag" formControlName="assetTag" id="assetTag">
              <mat-error *ngIf="hasError('assetTag', 'required')">assetTag is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Hostname" [(ngModel)]="data.hostname" formControlName="hostname" id="hostname">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" [(ngModel)]="data.dateOfPurchase" placeholder="Date Allocated" formControlName="dateAllocated"
                     id="dateAllocated"
                     readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="isUnderWarranty"
                          id="isUnderWarranty">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="isDamaged"
                          id="isDamaged">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="isRepaired"
                          id="isRepaired">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!assetForm.valid" [mat-dialog-close]="data.model" cdkFocusInitial>Summit</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </mat-card-actions>
  </form>
</div>
