<h1 mat-dialog-title> Assign Asset to Employee</h1>
<div mat-dialog-content>
  <div>{{message}}</div>
  <br>
  <form [formGroup]="assetAssignForm" class="asset-form" autocomplete="off" novalidate
        (ngSubmit)="assetAssign(assetAssignForm.value)"
        fxLayout="column wrap"
        fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card-content>
      <!-- Asset Status -->
      <table>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Asset Allocation Status</mat-label>
              <mat-select formControlName="assetStatus"
                          (selectionChange)="setVibilityForEmployeeList($event)"
                          id="assetStatus">
                <mat-option value="ALLOCATED">Allocated</mat-option>
                <mat-option value="INVENTORY">Inventory</mat-option>
                <mat-option value="INVENTORY_NOT_WORKING">Inventory - Not Working</mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('assetStatus', 'required')">Select Asset Status.
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <!-- Date Of Allocated -->
            <div *ngIf="selectedAssetStatus == 'ALLOCATED' else anotherBlock">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date of Allocated"
                       formControlName="dateOfAllocated"
                       id="dateOfAllocated"
                       readonly (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- //Date Of Allocated-->

            <!-- Date Of Return -->
            <ng-template #anotherBlock>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date of Return" formControlName="dateOfReturn"
                       id="dateOfReturn"
                       readonly (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-template>
            <!-- //Date Of Return-->

          </td>
        </tr>
      </table>
      <!-- //Asset Status -->

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Remark" formControlName="remark" id="remark">
            </mat-form-field>
          </td>
        </tr>
      </table>


      <div *ngIf="selectedAssetStatus == 'ALLOCATED'" class="mat-elevation-z8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <!-- Employee List -->
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="empId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.empId}} </td>
          </ng-container>

          <!-- Fullname Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname</th>
            <td mat-cell *matCellDef="let row"> {{row.firstName + ' ' + row.lastName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
            <td mat-cell *matCellDef="let row"> {{row.location}} </td>
          </ng-container>

          <!-- Cost Center Column -->
          <ng-container matColumnDef="costCenter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost Center</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.costCenter}} </td>
          </ng-container>

          <!-- productLine Column -->
          <ng-container matColumnDef="productLine">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Line</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.productLine"> {{row.productLine}} </td>
          </ng-container>

          <ng-container matColumnDef="jobRole">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.jobRole}} </td>
          </ng-container>

          <ng-container matColumnDef="technology">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Technology</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.technology}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)"
              [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
          </tr>
        </table>
        <!-- //Employee List -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 200]"></mat-paginator>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary"
              cdkFocusInitial>Assign
      </button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </form>
</div>
